body{
    background-color: #333333;

}

#content{
    
    margin-left: 578px;
}

#title{
    background-color: rgb(184, 184, 11);
    width: 350px;
    height: 80px;
    border-radius: 8px;
    
}

#layar{
    background-color: rgb(86, 122, 227);
    width: 350px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
}

#title h2{
    padding: 20px 10px 0 10px;
    text-align: center;
}

#selectcolomn{
    margin-top: 20px;
    border-radius: 5px;
    width: 350px;
    height: 25px;
}

#userinput{
    margin-top: 50px;
}

#inputcolumn{
    border-radius: 5px;
    width: 350px;
    height: 25px;
    margin-bottom: 20px;
}

#inputBTN{
    border-radius: 5px;
    width: 350px;
    height: 25px;
    background-color: rgb(86, 122, 227);
}